.mainContainConatiner{
    display:flex;
    width: 100%;
    flex-direction: column;
}
.mainContainConatiner {
    width: 100%;
}
.mySideDrawerOuter {
    position: relative;
}
.mySideDrawermain > div{
    position: fixed;
    z-index: 9;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 9px 14px 8px 12px #ccc;
    background-color: #fff;
}
.my.headerDetail {
    display: flex;
    padding: 0px;
    padding-bottom: 0px;
    border: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px #ccc;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.my.headerDetail .h2 {    
    font-weight: 600;
    border-right: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.my.headerDetail .h2:nth-child(even) {
    border-left: 1px solid #ccc;
}

.my.headerDetail .h2:nth-child(even) {
    border-left: 1px solid #ccc;
}
.my.headerDetail .h2:nth-last-child(1) {
    border-left: 1px solid #ccc;
    border-right: 0px;
}
.my.headerDetail .h2 .hederHeading-view {
    font-size: 25px;
    margin-top: 10px;
}